@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');


::-webkit-scrollbar {
  width: 0.5vh;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  padding-top: 2%;
  background-color:transparent;
  display: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#ffffff,#06be40); 
  scale: 2;
}


.background{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-origin: content-box;
  background-blend-mode: difference;
}

a.underline {
  color: #EBB02D;
  text-decoration: none;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a.underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FF6969;
  color: #EBB02D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.underline:hover:after { 
  color: #FF6969;
  width: 100%; 
  left: 0; 
}

@keyframes shine {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 250px;
  }
}

.grad_text{
  background: url(./textbg.svg);
  font-size: 7Vmin;
  background-clip: text;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
}

.grad_text_1{
  /*background: -webkit-linear-gradient(50deg,#FFF8BC,#FFE898,#FF87B2,#F65A83);*/
  background:transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2%;
}


.line{
  height: 20vh;
  margin-left: 20%;
  width: 60%;
}

.card {
  width: 15Vmax;
  height: 25Vmax !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
  position: relative;
}

.card-container {
  overflow: hidden !important;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -15vh;
}

.splash {
  position: absolute;
  bottom: 0 !important;
  left: 0;
  right: 0;
  height: 80%;
  clip-path: polygon(0 79%, 100% 51%, 100% 100%, 0% 100%);
}


.main1 {
  display: flex;
  --s: 20Vmax; 
  --m: 1Vmin;   
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
  margin-left: 10%;
  margin-top: 5%;
}



.container1 {
  font-size: 0;
  height: auto;
  max-height: fit-content;
}

.container1 div {
  background-color: white;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.container1::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%; 
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}


.profiles::-webkit-scrollbar{
  background-color: transparent !important;
  display: none;
}


.div1 , .div2{
  width:50%;
}

.div3{
  width:60% !important;
  min-height: 100% !important;
}

.div4{
  width:40%;
  min-height: 100% !important;
}


@media (max-width:800px) {
  .aboutMe{
    flex-direction: column !important;
  }

  .acheivements{
    flex-direction: column-reverse !important;
  }

  .div3,.div4{
    width:100% !important;
    min-height: 50% !important;
  }

  #images{
    min-height: 50vh !important;
  }

  .div1,.div2{
    width:100%;
    height: 50vh;
  }
  
}

#contact_div h2{
  font-size: 2Vmax;
}

#contact_div h3{
  font-size: 1.5Vmax;
}

@media (max-width:800px){




  .main1 {
    display: flex;
    --s: 15Vmax; 
    --m: 1Vmin;   
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
    margin-left: 10%;
    margin-top: 5%;
  }

  .projects_div{
    margin-bottom: 5%;
  }
  
  
  .container1 {
    font-size: 0;
    height: auto;
    min-height: fit-content !important; 
  }
  
  .container1 div {
    background-color: white;
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * 1.1547);
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  }
  
  .container1::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 100%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
  }
}

@media (max-width:800px)  and (min-width:500px){
  .div4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #images{
    min-height: 50vh !important;
    width: 80% !important;
    max-width: 30rem !important;
  }
}
